.App {
  font-family: sans-serif;
  text-align: center;
  padding: 100px;
}

.Weather {
  border: 1px solid rgba(0, 0, 0, 0.284);
  border-radius: 10px;
  padding: 50px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.time ul {
  padding: 0px;
}
.time li {
  list-style-type: none;
  text-align: start;
}

.cityName {
  margin: 10px;
  margin-left: 0px;
}

.tempDisplay {
  font-weight: 900;
  font-size: 48px;
  text-align: left;
}

.units {
  position: relative;
  top: -20px;
  font-size: 18px;
}

.units a {
  text-decoration: none;
}

.forecast {
  font-size: 18px;
}

@media (max-width: 680px) {
  .Weather {
    padding: 25px;
    font-size: smaller;
  }
}

@media (max-width: 624px) {
  .App {
    padding: 40px;
  }
  .Weather {
    font-size: 10px;
  }
  .search-bar {
    width: 60%;
  }

  .search-button {
    width: 40%;
  }

  .tempDisplay {
    font-size: 36px;
  }

  .units {
    font-size: 12px;
  }

  .currentIcon {
    margin-top: 20px;
  }
}
